:root {
    --background-color: #f5f5ec;
    --text-color: #01020f;
    --button-color: #081f41;
    --toggle-focus: #0060df;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', serif;
    margin: 0;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

h1 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 2.4em;
}

label {
    display: block;
    width: 100%;
    font-weight: 550;
    margin: 5px 0;
}

#settings {
    width: 35%;
    padding: 2em;
    position: relative;
    background-color: #fafcfc;
    overflow-y: scroll;
}

#settings.hidden {
    display: none;
}

#settings > .settings-toggle {
    bottom: 0;
    right: 0;
}
#settings:not(.hidden) + .settings-toggle {
    display: none;
}

#settings.hidden + .settings-toggle {
    bottom: 0;
    z-index: 100;
    color: white;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header img {
    display: inline;
    max-width: 50%;
}

.settings-toggle {
    position: absolute;
    margin: 1em;
    
    font-size: 2em;
    background: none;
    border: none;
    border-radius: 5px;
}

.settings-toggle:hover {
    font-weight: bold;
    cursor: pointer;
}

.input-row {
    width: 100%;
    margin: 10% 5px;
}

.input-row * {
    color: #4d4d4d;
    font-size: 1em;
}

.input-row > input {
    padding: 3px;
    background-color: #ffffff00;
    border: 1px solid #01020f;
    border-radius: 2px;
}

.input-row button:not(.location-button) {
    width: 100%;
    padding: 0.3em 0;
    margin: 5px 0;
    font-weight: 550;
    font-family: 'Poppins', serif;
    letter-spacing: 0.05em;
    border: 1px solid var(--button-color);
    border-radius: 3px;
    color: #ffffff;
    background-color: var(--button-color);
}

.input-row button:not(.location-button):hover {
    color: #fff;
    background-color: #030b1c;
    cursor: pointer;
}

.input-row label {
    color: var(--text-color);
}

.input-row span {
    color: var(--text-color);
}

.input-row .button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-row .button-row button {
    margin-right: 0.1em;
    margin-left: 0.1em;
}

.input-row .button-row button:first-of-type {
    margin-left: 0;
}

.input-row .button-row button:last-of-type {
    margin-right: 0;
}

.inline-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inline-input label {
    display: inline;
    width: auto;
}

.inline-input:focus-within {
    border-color: #065596;
}

input#latitudeInput, input#longitudeInput {
    width: 50%;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
    padding: 0.2em 0.3em;
}

input[type='date'] {
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Poppins', serif;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 0.2em 0.3em;
}

input[type='date']::-webkit-clear-button {
    display: none;
}

select {
    width: 100%;
    padding: 3px;
}

div.toggle {
    width: 2.5em;
    height: 1.4em;
    background-color: var(--button-color);
    position: relative;
    border-radius: 500px;
    cursor: pointer;
    float: right;
}

div.toggle:focus-within {
    outline: 2px solid var(--toggle-focus);
}

div.toggle input[type='checkbox'] {
    opacity: 0;
}

div.toggle span {
    display: block;
    width: 0.95em;
    height: 0.95em;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 5%;
    right: calc(100% - 0.95em);
    transform: translateY(-50%);
    background-color: var(--background-color);

    transition-property: left, right;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

div.toggle input[type='checkbox']:checked + span {
    left: calc(98% - 0.95em);
    right: 5%;
}

div.constellation-info {
    text-align: center;
}

div.constellation-info.desktop {
    margin-top: 5%;
    font-size: 1.2em;
}

div.constellation-info.mobile {
    display: none;
}

.canvas-container {
    position: relative;
    width: 100%;
    background: rgb(1,7,19);
    background: radial-gradient(circle, rgba(1,7,19,1) 54%, rgba(0,9,29,1) 87%, rgba(2,13,38,1) 96%); 
    box-shadow: -2px 0 6px 2px gray
}

.canvas-container canvas {
    cursor: grab;
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    aspect-ratio: 1 / 1;
}

.canvas-container canvas.moving {
    cursor: grabbing;
}

.backdrop {
    background-color: #00091d;
    border: 2px solid silver;
    box-shadow: 0 0 18px 10px #1e2b48;
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1300px) {
    #settings {
        position: absolute;
        left: 0;
        z-index: 90;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: 5px 0 5px 2px gray;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 2em;
    }

    
    #settings {
        width: 55%;
    }

    .backdrop {
        width: 90%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .canvas-container canvas {
        width: 90%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
}

