body {
    background: linear-gradient(#01020f, #102d6b);
    font-family: 'Martel', serif;
    margin: 0;
    height: 100vh;
}

h1 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 36px;
}

.page-container {
    width: 700px;
    height: 100%;
    padding: 0 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: beige;
}

#settings {
    padding: 2% 0;
}

#settings > div {
    height: auto;
}

#settings label {
    min-width: 200px;
}

#main-settings {
    display: flex;
    flex-direction: row;
}

.input-fields {
    width: 70%;
    padding: 10px;
    padding-left: 0;
}

.input-fields .input-row {
    width: 100%;
    margin: 5px 0;
}

.input-fields input {
    padding: 3px;
    margin: 0 5px;
    color: #01020f;
    background-color: #ffffff00;
    border: 1px solid #01020f;
    border-radius: 2px;
}

#actions {
    width: 20%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#actions button {
    width: 100%;
    padding: 2px 0;
    border: 1px solid #01020f;
    border-radius: 2px;
    color: #01020f;
    background-color: #ffffff00;
}

#actions button:hover {
    color: #fff;
    background-color: #01020f;
    cursor: pointer;
}

.canvas-container {
    display: inline-block;
    position: relative;
    width: 700px;
    min-height: 700px;
}

.canvas-container canvas {
    cursor: grab;
    display: inline;
    position: absolute;
}

.canvas-container canvas.moving {
    cursor: grabbing;
}

.canvas-container canvas#backdrop-canvas {
    z-index: 0;
}
.canvas-container canvas#star-canvas-alpha,
.canvas-container canvas#star-canvas-beta {
    z-index: 1;
}
.canvas-container canvas#star-debug-canvas {
    z-index: 2;
}
.canvas-container canvas#grid-canvas {
    z-index: 3;
}
