body {
    /* background: linear-gradient(#01020f, #102d6b); */
    background: linear-gradient(#01020f, #031131);
    font-family: 'Poppins', serif;
    margin: 0;
    height: 100vh;
}

h1 {
    margin: 0 auto;
    font-weight: 600;
    font-size: 36px;
}

.page-container {
    width: 70vw;
    height: 100%;
    padding: 0 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5ec;
}

.info-box {
    font-size: 0.85em;
}

#settings {
    padding: 2% 0;
    display: flex;
    flex-direction: row;
}

#settings > div {
    height: auto;
}

#settings label {
    display: block;
    width: 100%;
    font-weight: 550;
    margin: 5px 0;
}

.input-row {
    width: 100%;
    margin: 10% 5px;
}

input {
    padding: 3px;
    margin: 0 5px;
    color: #01020f;
    background-color: #ffffff00;
    border: 1px solid #01020f;
    border-radius: 2px;
}

button {
    width: 100%;
    padding: 2px 0;
    margin: 5px 0;
    border: 1px solid #01020f;
    border-radius: 2px;
    color: #01020f;
    background-color: #ffffff00;
}

button:hover {
    color: #fff;
    background-color: #01020f;
    cursor: pointer;
}

.canvas-container {
    display: inline-block;
    position: relative;
    margin-left: 10%;
    width: 800px;
    min-height: 800px;
}

.canvas-container canvas {
    cursor: grab;
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.canvas-container #loading-icon-container {
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.canvas-container #loading-icon-container > .loading-icon {
    display: inline;
    position: absolute;
    border-radius: 50%;
}

.canvas-container #loading-icon-container > .loading-icon:first-of-type {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #01020f;
    animation: 2s ease-in-out infinite alternate;
    animation-name: loading-background;
}

@keyframes loading-background {
    100% {
        transform: scale(150%, 150%);
    }
}

.canvas-container canvas.moving {
    cursor: grabbing;
}

.canvas-container canvas#backdrop-canvas {
    z-index: 0;
}
.canvas-container canvas#star-canvas-alpha,
.canvas-container canvas#star-canvas-beta {
    z-index: 1;
}
.canvas-container canvas#star-debug-canvas {
    z-index: 2;
}
.canvas-container canvas#grid-canvas {
    z-index: 3;
}
